@charset "UTF-8";

body {
    text-align: center;
    background-color: #F5DDFA;
}

header{
    padding: 20px;
    margin: 50px;
    min-height: 200px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #786C7A;
}


article {
    text-align: justify;
}

p {
    text-align: justify;
}

strong {
    font-weight: normal;
}

.carrossel img{
    
    min-width: auto;
    border-radius: 20px;
}


#fixa {
    position: fixed;
    top: 3px;
}


h1 {
    color: #804680;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
    margin-top: 30px;
    color: #806C80;
}

h3 {
    font-size: 35px;
    margin-top: 10px;
    color: #4c007d;
    text-shadow: 1px 1px 2 #d884d8;
}

.product {
    display: inline-block;
}

    .product img {
        width: 300px;
        height: 200px;
        margin-right: 10px;
        object-fit: cover;
        border-radius: 50px;

    }

    .product h2 {
        margin-top: 10px;
        color: #804680;
        text-shadow: 1px 1px 2 #d884d8;
    }

    .product h3 {
        margin-top: 10px;
        color: #804680;
        text-shadow: 1px 1px 2 #d884d8;
    }

    .product ul{
        list-style-type: none;
        padding: 15px;
    }


    .cardapio {
        flex-grow: 1;
    }
    
        .cardapio h2 {
            font-size: 40px;
            margin-top: 20px;
            color:  #804680;
            text-shadow: 1px 1px 2 #d884d8;
        }
    
    .invisivel{
        visibility: hidden;
    }
    .context{
        display: inline-block;
        flex-grow: 1;
    }
        .context h3 {
            font-size: 35px;
            margin-top: 10px;
            color: #806C80;
            text-shadow: 1px 1px 2 #d884d8;
        }

        .context img {
            width: 400px;
            height: 200px;
            margin: 0 50px;
            padding: 0;
            object-fit: cover;
            border-radius: 50px;
        }

        .context li{
            margin: 0px;
            padding-top: 5px;
            font-size: 25px;
            font-style: oblique;
            color: #2d014b;
        }
        .context img, p{
        float: left;
        }

footer {
    text-align: center;
    background-color: #CCADCC;
    padding: 20px 20px;}

    footer p{
        font-size: 20px;
        margin: 10px;
        padding: 0px 50px;
        font-style: italic;
        font-weight: bold;
        text-shadow: #f1d1f1 1px 1px 2px;
        text-align: center;
    }

    .meu-botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    }

        .meu-botao:hover {
        background-color: #806C80;
        color: #fff;
        }

        .meu-botao:active {
        background-color: #555;
        color: #fff;
        }

        .meu-botao:visited {
        color: purple;
        }


address{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-shadow: 1px 1px 2px #f5d4f5ff; 
}


.contatos img{
    border-color: none;
    border-style: none;
    background-color: white;
    margin: 10px 10px;
    padding: 10px 15px;
    width: 50px;
    height: auto;
}


